/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #000;
  line-height: 1.6;
  padding-bottom: 30px; /* Adjust this value to match the height of your audio player */
}

/* Hero section */
.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  cursor: pointer; /* Indicates the entire hero is interactive */
}

.hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Mixes section */
.mixes-container {
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease, opacity 0.8s ease;
  background-color: transparent;
}

.mixes-container.visible {
  transform: translateY(0);
  opacity: 1;
}

.mixes-list {
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.mix-item {
  margin-bottom: 1rem;
}

.play-mix {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: transparent; /* Make background transparent */
  color: white; /* Text color */
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgba(0, 123, 255, 0.7); /* Border with transparency */
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  opacity: 0.8; /* Slight transparency */
}

.play-mix:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Subtle blue background on hover */
  border-color: rgba(0, 123, 255, 1); /* Full opacity border on hover */
  color: rgba(0, 123, 255, 1); /* Change text color to match the hover border */
  transform: scale(1.02);
}

/* Audio player */
.audio-player {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: none;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.audio-player.hidden {
  transform: translateY(100%);
}

.audio-player-container {
  max-width: 800px;
  margin: 0 auto;
}
